<!-- templates/fragments/navbar.html -->
<div th:fragment="topnav">
    <nav style="background:#ffffff99; padding:10px; border-radius: 12px;">
        <div>ARMOK'S WORST NAVIGATION BAR</div>
        <div>
            <a th:href="@{/}" style="margin-right:15px;">Homepage</a>
            <a th:href="@{/wiki/}" style="margin-right:15px;">Wiki Mainpage</a>
            <a th:href="@{/wiki/articles}" style="margin-right:15px;">Articles</a>
            <a th:href="@{/wiki/categories}" style="margin-right:15px;">Categories</a>
            <a th:href="@{/login}" style="margin-right:15px;">Admin</a>

            <form th:action="@{/wiki/articles/search}" method="get" style="display:inline; margin-left:20px;">
                <input type="text" name="tags" placeholder="Search by tags" />
                <button type="submit">Search</button>
            </form>
        </div>

    </nav>
    <hr>
</div>
