<!DOCTYPE html><html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/userportal.css}">

</head>
<body th:style="'background-color:' + ${randomColor}">
    <h1>ARMOK'S WORST REGISTRATION PORTAL</h1>
    <div th:if="${resultMessage}" th:text="${resultMessage}" class="resultCSS"></div>
    
    <form th:action="@{/register}" th:object="${adminForm}" method="post">
        <p><label>Name:<input th:field="*{username}" required/></label></p>
        <p><label>Password:<input th:field="*{password}" type="password"required /></label></p>
        <button type="submit">Register</button>
    </form>
    <p><a href="login">Or did you want to log in?</a></p>
</body>
</html>