<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Articles in Category</title>
</head>
<body>
    <div th:replace="fragments/navbar :: topnav"></div>
    <h1 th:text="'Articles in: ' + ${categoryName}">Category Name</h1>

    <ul>
        <li th:each="article : ${articles}">
            <h2 th:text="${article.title}">Title</h2>
            <p th:text="${article.contents}">Contents</p>
        </li>
    </ul>

    <a th:href="@{/wiki/categories}">Back to Categories</a>
</body>
</html>
