
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wiki Articles</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/viewarticle.css}">
</head>

<body th:style="'background-color:' + ${randomColor}">

    <div th:replace="fragments/navbar :: topnav"></div>
    <!--ifmaxxing: probably bad practice but TIME is of the ESSENCE-->
    <div th:if="${article != null and (!article.hiddenFlag or session.loggedInAdmin != null)}">
        <h1 class="articletitle" th:text="${article.title}">Article Title</h1>

        <hr>

        <div><strong>Created:</strong> <span class="articlemetadata" th:text="${article.dateCreate}">Date</span></div>
        <div><strong>Last Edited:</strong> <span class="articlemetadata" th:text="${article.dateEdit}">dateEdit</span></div>
        <div>
            <strong>Tags:</strong>
            <a th:each="tag : ${article.tags}"
            th:href="@{'/wiki/articles/search?tags=' + ${tag.name}}"
            th:text="${tag?.name}"
            class="taglinks">Tag</a>
        </div>
        <div>
            <strong>Category:</strong>
            <a th:href="@{'/wiki/categories/' + ${article.category.id}}"
            th:text="${article.category.name}"
            class="taglinks">Category</a>
        </div>
        <hr>

        <div class="articlecontent" th:utext="${article.contents}">Contents</div>
    </div>

    <!--Hidden Article handling-->
    <div th:unless="${article != null and (!article.hiddenFlag or session.loggedInAdmin != null)}">
        <h1>403, man!</h1>
        Sorry! Article is tucked away.
    </div>

    <!--Invalid ID handling-->
    <div th:if="${article == null}">
        <h1>404, man!</h1>
        No article was found with that ID.. Wanna make one?
    </div>
    <br>

            </li>
        </ul>
        
    </div>
</body>



</html>
