<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wiki Main</title>
    <link rel="stylesheet" th:href="@{/css/wikinav.css}">
</head>
<body th:style="'background-color:' + ${randomColor}">
    <div th:replace="fragments/navbar :: topnav"></div>
    <h1>Welcome to ARMOK'S WORST WIKI</h1>

    <div class="listcontainer">
    <h2>Recent Articles</h2>
    <ul>
        <li th:each="article : ${recentArticles}">
            <a th:href="@{'/wiki/articles/' + ${article.id}}" th:text="${article.title}">Article Title</a>
            <span th:text="'Created: ' + ${#dates.format(article.dateCreate, 'yyyy/MM/dd hh:mm')} 
                 + ' & Updated:' + ${#dates.format(article.dateEdit, 'yyyy/MM/dd hh:mm')}"></span>
            <span th:if="${article.hiddenFlag}" style="color: red;">(Hidden)</span>
        </li>
    </ul>
    <a href="articles/new">Create New Article</a>
    </div>
</body>
</html>
