<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wiki Main</title>
</head>
<body>
    <div th:replace="fragments/navbar :: topnav"></div>
    <h1>Welcome to ARMOK'S WORST WIKI</h1>

    <h2>Recent Articles</h2>
    <ul>
        <li th:each="article : ${recentArticles}">
            <a th:href="@{'/wiki/articles/' + ${article.id}}" th:text="${article.title}">Article Title</a>
            <span th:text="'Created: ' + ${#dates.format(article.dateCreate, 'yyyy/MM/dd hh:mm')}
             + ' & Updated:' + ${#dates.format(article.dateEdit, 'yyyy/MM/dd hh:mm')}"></span>
        </li>
    </ul>

</body>
</html>
